* {
  margin: 0;
  padding: 0;
}
.nav {
  width: 310px;
  height: 50px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: space-around;
  opacity: 0.3;
  transition: opacity 0.5s;
}
.nav:hover {
  opacity: 1;
}

button {
  border: none;
  outline: none;
  padding: 0.6em 1em;
  border-radius: 3px;
  background-color: #03bb56;
  color: #fff;
}
.save {
  background-color: #0f65d4;
}
